.postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    align-items: center;
    justify-content: center;
}

.post {
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    padding: 5px 20px;
}

.post:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post * {
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trashContainer {
    display: flex;
    justify-content: end;
}

.trashContainer button {
    background-color: inherit;
    border: none;
    margin: 6px 0px;
}

.trashContainer img {
    width: 28px;
    cursor: pointer;
}

.postToDeleteTitle {
    color: var(--pink);
}